.App {
    text-align: center;
}

:root {
    --maincolor: #FFFFFF;
    --secondarycolor: #ecf0f1;
    --tertiarycolor:  #3c3c3d;

}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #09d3ac;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 57% 3% 40%;
    grid-template-areas:
            "menucanvas graphcanvas infocanvas"
            "menucanvas nodeinfocanvas infocanvas"
            "sendmenucanvas blockchaincanvas smartcontractcanvas"
}


#graphcanvas-id-graph-wrapper {
    display: block;
    height: 100%;
    position: relative

}

div#graphcanvas-id-graph-wrapper > * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}
g#graphcanvas-id-graph-container-zoomable {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    transform: translate(50%,50%);
}


.blurry{
    filter: blur(5px)
}

.nodeinfocanvas{
    background-color: var(--maincolor);
    grid-area: nodeinfocanvas;
    border-left: 1px solid var(--secondarycolor);
    border-right: 1px solid var(--secondarycolor);

}

.graphcanvas {
    background-color: var(--maincolor);
    border-left: 1px solid var(--secondarycolor);
    border-right: 1px solid var(--secondarycolor);
    grid-area: graphcanvas;
}

.menucanvas {
    background-color: var(--maincolor);
    grid-area: menucanvas;
}

.sendmenucanvas {
    background-color: var(--maincolor);
    grid-area: sendmenucanvas;
}

.infocanvas {
    background-color: var(--maincolor);
    grid-area: infocanvas;
}

.blockchaincanvas {
    background-color: var(--maincolor);
    border: 1px solid var(--secondarycolor);
    grid-area: blockchaincanvas;
}

.smartcontractcanvas {
    background-color: var(--maincolor);
    grid-area: smartcontractcanvas;
}

.block {
    margin: 50px 0 0 20px;
    display: inline-flex;
}

.headline {
    font-size: 18px !important;
    color: var(--tertiarycolor) !important;
}

table, th, td {
    font-size: 14px !important;
    color: var(--tertiarycolor) !important;
    font-style: normal !important;
}