.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #09d3ac;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 55% 5% 40%;
    grid-template-areas:
            "menucanvas graphcanvas infocanvas"
            "menucanvas transactionfeed infocanvas"
            "sendmenucanvas blockchaincanvas miningpoolcanvas"
}

.transactionfeed{
    background-color: white;
    border: 3px solid green;
    grid-area: transactionfeed;
}

.graphcanvas {
    background-color: lightslategrey;
    border: 3px solid green;
    grid-area: graphcanvas;
}

.menucanvas {
    background-color: lightslategrey;
    border: 3px solid green;
    grid-area: menucanvas;
}

.sendmenucanvas {
    background-color: antiquewhite;
    border: 3px solid green;
    grid-area: sendmenucanvas;
}

{/*.terminalcanvas {
    background-color: lightblue;
    border: 3px solid green;
    grid-area: terminalcanvas;
}
*/}
.svg-container-graphcanvas-id {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.infocanvas {
    background-color: lightslategrey;
    border: 3px solid green;
    grid-area: infocanvas;
}

.nodecanvas {
    background-color: lightgrey;
    text-align: center;
    border: 3px solid green;
    grid-area: nodecanvas;
}

.blockchaincanvas {
    background-color: lightgrey;
    border: 3px solid green;
    grid-area: blockchaincanvas;
}

.miningpoolcanvas {
    background-color: lightgrey;
    border: 3px solid green;
    grid-area: miningpoolcanvas;
}

.block {
    margin: 50px 0 0 20px;
    display: inline-flex;
}